<head>
  <meta charset="utf-8">
  <title>Patty Lowy</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Chivo" rel="stylesheet">

  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.photos').slick({
       slidesToShow: 1,
       slidesToScroll: 1,
       arrows: true,
       speed: 500,
       cssEase: 'linear',
       fade: true,
       asNavFor: '.photos-nav',
       prevArrow: $('.prev-arrow'),
       nextArrow: $('.next-arrow'),
       adaptiveHeight: true
     });

      $('.photos-nav').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        asNavFor: '.photos',
        dots: false,
        arrows: false,
        variableWidth: true,
        focusOnSelect: true,
        centerMode: true
      });
    });
  </script>

</head>
