<div class="menu">
  <label class="dropdown" for="paintings">Paintings</label>
  <input class="dropdown-open" type="checkbox" id="paintings" aria-hidden="true" hidden/>
  <ul class="submenu">
    <li><a href="/paintings/landscapes.html">Landscapes</a></li>
    <li>Interiors/Still Lifes</li>
    <li>Figures</li>
  </ul>
  <label class="dropdown" for="prints">Prints</label>
  <input class="dropdown-open" type="checkbox" id="prints" aria-hidden="true" hidden/>
  <ul class="submenu">
    <li>Still Lifes</li>
    <li>Trees</li>
  </ul>
  <label class="dropdown" for="drawings">Drawings</label>
  <input class="dropdown-open" type="checkbox" id="drawings" aria-hidden="true" hidden/>
  <ul class="submenu">
    <li>Still Lifes</li>
    <li>Interiors</li>
    <li>Figures</li>
  </ul>
  <label class="dropdown" for="graphics-comics">Graphics/Comics</label>
    <input class="dropdown-open" type="checkbox" id="graphics-comics" aria-hidden="true" hidden/>
    <ul class="submenu">
      <li>Charcoal Drawings</li>
      <li>Cards & Announcements</li>
    </ul>
  <a class="menu-link" href="/about">About</a>
</div>
