<div class="menu">
  <label class="dropdown" for="charcoal">Charcoal</label>
    <input class="dropdown-open" type="checkbox" id="charcoal" aria-hidden="true" hidden/>
    <ul class="submenu">
      <li>└ Sink</li>
      <li>└ Series 2</li>
    </ul>
  <label class="dropdown" for="paintings">Paintings</label>
  <input class="dropdown-open" type="checkbox" id="paintings" aria-hidden="true" hidden/>
    <ul class="submenu">
      <li>└ Series 1</li>
      <li>└ Series 2</li>
    </ul>
  <label class="dropdown" for="prints">Prints</label>
  <input class="dropdown-open" type="checkbox" id="prints" aria-hidden="true" hidden/>
    <ul class="submenu">
      <li>└ Series 1</li>
      <li>└ Series 2</li>
    </ul>
  <label class="dropdown" for="drawings">Drawings</label>
  <input class="dropdown-open" type="checkbox" id="drawings" aria-hidden="true" hidden/>
    <ul class="submenu">
      <li>└ Series 1</li>
      <li>└ Series 2</li>
    </ul>
  <label class="dropdown" for="cartoons">Cartoons</label>
  <input class="dropdown-open" type="checkbox" id="cartoons" aria-hidden="true" hidden/>
    <ul class="submenu">
      <li>└ Series 1</li>
      <li>└ Series 2</li>
    </ul>
  <a class="menu-link" href="/about">About</a>
</div>
