$font: "Chivo";
$font-2: "Source Sans Pro";

$gray: #4c4c4f;
$medium-gray: lighten($gray, 10%);
$light-gray: #bbbbbb;
$link: $medium-gray;

$breakpoint-lg: 1200px;
$breakpoint-md: 700px;

body {
  background: #fff;
  font-family: $font-2;
  color: $gray;
}

:focus {
  outline: none;
}

a, a:visited, a:focus {
  color: $link;
  text-decoration: none;
}

a:hover {
  color: lighten($link, 10%);
}

p {
  line-height: 1.6;
}

.site-name {
  font-family: $font;
  font-size: 2em;
  margin: .67em 0;
  a {
    color: #000000;
  }
}

.accent {
  position: relative;
  display: inline-block;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 9999px;
    display: block;
    background-color: $light-gray;
  }
  &:before {
    right: 100%;
    margin-right: 0.5em;
  }
  &:after {
    left: 100%;
    margin-left: 0.5em;
  }
}

.caption {
  font-style: italic;
}

.responsive {
  max-width: 100%;
}
