.wrapper {
  margin: 0 1em;
}

.sidebar {
  padding: 1em;
}

.content {
  padding: 1em;
  text-align: center;
   align-self: center;
}

@media only screen and (min-width: $breakpoint-md)  {
  .wrapper {
    display: flex;
    max-width: $breakpoint-lg;
    margin: 0 auto;
  }
  .sidebar {
    width: 30%;
  }
  .content {
    width: 60%;
  }
}
