// Mobile Menu styles
.menu {
  .dropdown, .menu-link {
    display: block;
    padding: 1em 0;
    margin-bottom: .5em;
    font-family: $font-2;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .dropdown {
    &:before {
      content: "⌄";
      float: left;
      margin-right: 10px;
    }
  }
  .menu-link {
    color: $gray;
    padding-left: 1.3em;
  }
}

.submenu {
  list-style: none;
  padding-left: 1.3em;
  display: none;
  margin-top: 0;
  li {
    font-family: $font-2;
    font-size: .9em;
    margin: .5em 0 0 0;
    padding: 0;
    cursor: pointer;
  }
}

.dropdown-open:checked + .dropdown + .submenu {
  display: block;
}

.dropdown-open:checked + .dropdown {
  &:before {
    transform: rotate(-180deg);
    // transition: .15s ease-in-out;
  }
}

// Desktop menu styles
@media screen and (min-width: $breakpoint-md) {
  .menu {
    .dropdown {
      // border: 0;
      // padding: 1em 0;
    }
    .dropdown {
      // cursor: auto;
      // &:before {
      //   content: "";
      //   float: none;
      //   margin-right: 0;
      // }
    }
  }
  .submenu {
    // display: block;
    // color: $medium-gray;
  }
}
