img {
  max-width: 100%;
  max-height: 670px;
  -webkit-filter: brightness(120%);
  // @media screen and (min-width: $breakpoint-md) {
  //   max-width: 868px;
  // }
}

.photos-nav img {
  margin: 1em 1em 1em 0;
  max-height: 117px;
}

.slider-info {
  .caption {
    margin: 0;
    font-style: italic;
  }
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-content: middle;
  button {
    -webkit-appearance: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
  }
  .prev-arrow {

  }
}
