.slider-info {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-content: middle;
  button {
    -webkit-appearance: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
  }
}

.photos {
  img {
    max-width: 100%;
    max-height: 670px;
    margin: 0 auto;
  }
  &.paintings {
    img {
      -webkit-filter: brightness(120%);
    }
  }
  margin-top: -3.3em;
  .caption {
    display: inline-block;
  }
  .slick-slide {
    @media screen and (min-width: $breakpoint-md) {
      min-height: 575px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      min-height: 630px;
    }
  }
}

.photos-nav {
  @media screen and (max-width: $breakpoint-md) {
    display: none;
  }
}

.photos-nav img {
  margin: 1em 1em 1em 0;
  max-height: 117px;
}
